@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.inner-row{
    height: 100vh;
}

.primaryColor{
    color: rgb(42, 42, 239);
}

.form-box{
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}